[package]
name = "wasm"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
wasm-bindgen = "0.2.104"

[dev-dependencies]
wasm-bindgen-test = "0.3.54"

[lib]
crate-type = ["cdylib", "rlib"]
